.credits {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 3px solid black;
    width: 350px;
    display: block;
    margin: auto;
}

.credits li {
    line-height: 1.5;
}

#credits {
    text-align: center;
}

.fight-back {
    border: 3px solid red;
    margin: auto;
    text-align: center;
    width: 200px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin-top: 50px;
    font-size: 15pt;
    font-weight: bold;
}